<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet', href='styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="container">
  <img src="/static/danone.png" alt="danone-logo" width="150px">
  <form id="danone-survey" action="#" method="post" class="test-form" name="danone-survey">
    <div class="question-container">
      <h2>
          1. Менеджер по подбору персонала дал мне исчерпывающую информацию об этапах и сроках отбора в компанию.
      </h2>
      <label class="radio-container"> Полностью не согласен
        <input type="radio" name="recruting_info" value="1" required>
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Не согласен
        <input type="radio" name="recruting_info"  value="2" checked="checked">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Затрудняюсь ответить
        <input type="radio" name="recruting_info" value="3">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Согласен
        <input type="radio" name="recruting_info" value="4">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Полностью согласен
        <input type="radio" name="recruting_info" value="5">
        <span class="radio-checkmark"></span>
      </label>
    </div>

    <div class="question-container">
      <h2>
          2. Менеджер по подбору персонала предоставил всю необходимую мне информацию о вакансии.
      </h2>
      <label class="radio-container"> Полностью не согласен
        <input type="radio" name="vacancy_info" value="1" required>
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Не согласен
        <input type="radio" name="vacancy_info"  value="2" checked="checked">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Затрудняюсь ответить
        <input type="radio" name="vacancy_info" value="3">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Согласен
        <input type="radio" name="vacancy_info" value="4">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Полностью согласен
        <input type="radio" name="vacancy_info" value="5">
        <span class="radio-checkmark"></span>
      </label>
    </div>

    <div class="question-container">
      <h2>
          3. Я получил полезную обратную связь для своего развития от менеджера по подбору персонала.
      </h2>
      <label class="radio-container"> Полностью не согласен
        <input type="radio" name="feedback" value="1" required>
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Не согласен
        <input type="radio" name="feedback"  value="2" checked="checked">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Затрудняюсь ответить
        <input type="radio" name="feedback" value="3">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Согласен
        <input type="radio" name="feedback" value="4">
        <span class="radio-checkmark"></span>
      </label>
      <label class="radio-container"> Полностью согласен
        <input type="radio" name="feedback" value="5">
        <span class="radio-checkmark"></span>
      </label>
    </div>

    <div class="question-container">
      <h2>
        4. Какова вероятность от 0 до 100%, что вы порекомендуете компанию Danone своим друзьям.
      </h2>
      <input id="possibility" type="number" min="0" max="100" class="text-input" pattern="^100 *%?$|^\d{1,2} *%?$" name="recommendation_percentage" required>
    </div>

    <div class="question-container">
      <h2>
        5. Если вы хотите поделиться дополнительной информацией по процессу подбора персонала, сделайте это сейчас.
      </h2>
      <textarea class="textarea-input" name="additional_info" id="additional-info" maxlength="500" placeholder="Текст ответа"></textarea>
    </div>

    <div class="submit-container">
      <div id="submit-button" class="submit-button">Отправить</div>
      <div class="submit-notification">
        Ответьте на вопросы, чтобы отправить
      </div>
    </div>
  </form>
</div>

  <script>
      function checkValue () {
          if (posibilityInput.value && posibilityInput.value.match(/^100 *%?$|^\d{1,2} *%?$/)) {

              submitButton.style.backgroundColor = "#0C5EA0";
              submitButton.addEventListener('click', submitForm);
          } else {
              submitButton.style.backgroundColor = "#ddd";
              submitButton.removeEventListener('click', submitForm);
          }
      }

      function submitForm (e) {
          form.submit();
      }

      form = document.querySelector("#danone-survey");
      posibilityInput = document.querySelector("#possibility");

      submitButton = document.querySelector("#submit-button");
      posibilityInput.addEventListener('input', checkValue);
      posibilityInput.addEventListener('change', checkValue); // in case input event is not working

      checkValue();
  </script>
</body>