@import 'queries.scss';
@import 'reset.scss';

.container {
  width: 800px;
  margin: 0 auto;
  padding: 75px 190px 0 88px;

  @include respond-to (mobile) {
    width: 100%;
    padding: 15px;
  }
}

.finish-container {
  width: 800px;
  margin: 0 auto;
  padding: 75px 0;

  @include respond-to (mobile) {
    width: 100%;
    padding: 15px;
  }
}

.test-form {
  margin-top: 80px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 31px;
  margin-top: 42px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 31px;
}

.question-container {
  margin-bottom: 60px;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin: 25px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    display: none;
  }

  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #E5E5E5;
    border-radius: 50%;
  }

  input:checked + .radio-checkmark {
    background-color: #0C5EA0;
  }

  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked + .radio-checkmark:after {
    display: block;
  }

  .radio-checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
}

.text-input {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  margin: 24px 0;
  padding-left: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 40px;
  border: 1px solid #ddd;
}

.textarea-input {
  width: 580px;
  height: 80px;
  margin: 25px 0;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  border-radius: 5px;
  border-color: #ddd; 
  resize: none;

  @include respond-to (mobile) {
    width: 100%;
  }
}

.submit-container {
  display: flex;
  margin-bottom: 50px;
  align-items: center;

  @include respond-to (mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .submit-button {
    width: 108px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    font-weight: 600;
    cursor: pointer;
  }

  .submit-button:disabled {
    background-color: red;
  }

  .submit-notification {
    margin-left: 15px;
    font-size: 16px;
    color: #333;

    @include respond-to (mobile) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}